.container {
  max-width: $container-width;
  width: 100%;
  padding: 0 $col-padding;
  margin: 0 auto;
}

.row {
  margin-left: -$col-padding;
  margin-right: -$col-padding;

  &:before, &:after {
    content: '';
    display: table;
    clear: both;
  }
}

[class*="col-"],
[class^="col-"] {
  float: left;
  padding: 0 $col-padding;
}

.col-1 {
  width: (100% / 12);
}

.col-2 {
  width: 2 * (100% / 12);
}

.col-3 {
  width: (100% / 4);
}

.col-4 {
  width: 4 * (100% / 12);
}

.col-5 {
  width: 5 * (100% / 12);
}

.col-6 {
  width: (100% / 2);
}

.col-7 {
  width: 7 * (100% / 12);
}

.col-8 {
  width: 8 * (100% / 12);
}

.col-9 {
  width: 3 * (100% / 4);
}

.col-10 {
  width: 10 * (100% / 12);
}

.col-11 {
  width: 11 * (100% / 12);
}

.col-12 {
  width: 100%;
}

img{
  display: block;
  max-width: 100%;
  height: auto;
}