$main-font: Open Sans, Oswald, sans-serif;;
$font-color: #2c303d;;
$header-color: #ffcc00;
$font-size: 14px;
$font-height: 1.5; //line-height
$font-weight: 400;
$color-bg: #fff;


/** Grid variables **/
$container-width: 835px;
$col-padding: 15px;